{% extends 'base1.html.twig' %}

{% block body %}



    <div class="container-fluid">

        <div class="row">

            <div class="col-12">
                <div class="card-box">

                    <h4 class="m-t-0 header-title">List Animal</h4>
                    <p class="text-muted font-14 m-b-20">

                    <div class="sidebar-search">

                        <div class="input-group custom-search-form">

                            <input type="text" id="search" class="form-control" placeholder="Rechercher animal">
                        </div>
                        <!-- /input-group -->
                    </div>
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level" id="entitiesNav"><br>
                            </ul>
                        </li>
                    </ul><br><br><br><br>

                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

                    <script type="text/javascript">
                        jQuery(document).ready(function() {
                            var searchRequest = null;

                            $("#search").keyup(function() {
                                var minlength = 1;
                                var that = this;
                                var value = $(this).val();
                                var entitySelector = $("#entitiesNav").html('');
                                if (value.length >= minlength ) {
                                    if (searchRequest != null)
                                        searchRequest.abort();
                                    searchRequest = $.ajax({
                                        type: "GET",
                                        url: "{{ path('animal_search') }}",
                                        data: {
                                            'q' : value
                                        },
                                        dataType: "text",
                                        success: function(msg){
                                            //we need to check if the value is the same
                                            if (value===$(that).val()) {
                                                var result = JSON.parse(msg);
                                                $.each(result, function(key, arr) {
                                                    $.each(arr, function(id, value) {
                                                        if (key === 'animals') {
                                                            if (id !== 'error') {
                                                                console.log(value);
                                                                entitySelector.append('<li><b>'+'</b><a href="/animal/'+id+'">'+value[0]+'</a></li>');
                                                            } else {
                                                                entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                            }
                                                        }
                                                    });
                                                });
                                            }
                                        }
                                    });
                                }
                            });
                        });
                    </script>

                    <table class="table">
                        <thead>
                        <tr>

                            <th>Nom</th>
                            <th>Race</th>
                            <th>Genre</th>
                            <th>Age</th>
                            <th>Description</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for animal in animals %}
                            <tr>

                                <td>{{ animal.nom }}</td>
                                <td>{{ animal.race }}</td>
                                <td>{{ animal.genre }}</td>
                                <td>{{ animal.age }}</td>
                                <td>{{ animal.description }}</td>
                                <td>
                                    <a href="{{ path('app_animal_edit', {'id': animal.id}) }}"> <button class="btn btn-outline-primary" > update</button></a>


                                    <a href="{{ path('app_animal_show', {'id': animal.id}) }}"><button class="btn btn-outline-primary" > show</button></a>
                                    <a href="{{ path('app_animal_delete', {'id': animal.id}) }}"><button class="btn btn-outline-primary" > delete</button></a>

                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



{% endblock %}