{% extends 'base1.html.twig' %}

{% block title %}produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>
    <a href="{{ path('produit_pdf') }}" class="btn btn-primary">Export PDF</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Preview</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Disponibilite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td><img src="{{ asset('uploads/product_images/' ~ produit.image) }}" class="rounded-circle" style="width: 100px; height:100px" /></td>

                <td>{{ produit.nom }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.stock }}</td>
                
                <td>{{ produit.disponibilite ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_produit_showb', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Create new</a>
{% endblock %}
