{% extends 'front/base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<style>.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination li a {
  background-color: #ba5454;
  color: #fff;
  border-color: #ba5454;
}
.pagination li.active a {
  background-color: #ba5454;
  color: #fff;
  border-color: #ba5454;
}


</style>
    <h1>Our Products</h1>

    <div class="row">
        {% for produit in produits %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="{{ asset('uploads/product_images/' ~ produit.image) }}" style="width: 100%; height: 225px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ produit.nom }}</h5>
                                                <h5 class="card-title">{{ produit.categorie.nom }}</h5>

                        <p class="card-text">{{ produit.stock }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{path("cart_add",{id:produit.id})}}" class="btn btn-sm btn-outline-secondary">Add</a>

                            </div>
                            <small class="text-muted">{{ produit.prix }} €</small>
                        </div>
                    </div>

                </div>
               
            </div>
            
        {% endfor %}
         <div class="pagination">
                {{ knp_pagination_render(produits) }}
            </div>
    </div>

{% endblock %}
