{% extends 'base1.html.twig' %}

{% block title %}Edit Actualite{% endblock %}

{% block body %}
    <h1>Ticket index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Prix</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.code }}</td>
                <td>{{ ticket.prix }}</td>
                <td>{{ ticket.dateDebut ? ticket.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ ticket.dateFin ? ticket.dateFin|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}">show</a>
                    <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ticket_new') }}">Create new</a>
{% endblock %}
